.git
.gitignore
.github
.venv
.mypy_cache
.pytest_cache
.ruff_cache
.uv-cache
.vscode
**/__pycache__
*.pyc
*.pyo
*.pyd
build
dist
*.egg-info
tests
.maskflow
scripts
plugins
uv.lock
.env
.env.*
data
.log
pytest.ini
